@charset utf-8;

/* CSS 초기화 : 모든 태그를 기본값으로 초기화 */
html, body, div, span, object, iframe, h1,h2,h3,h4,h5,h6,p,blockquote,pre, abbr, 
address,cite,code,del,dfn,em,img,ins,kbd,q,samp,strong,small,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form, label,legend, table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,
figure, footer,header,hgroup,menu,nav,section,summary,time, mark,audio,video{
    margin: 0;
    padding: 0;
    border:0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    font-family: 준비된 폰트들을 넣어준다 ;
    background: url(img/s_img/body_bg.png);
    line-height: 1;
    /* body 태그에 폰트속성과 배경 속성 그리고 글자 행간 속성을 설정 */
}

article,aside,details,figcaption, figure, footer,header,hgroup,menu,nav,section{
    display: block; 
    /* html5 태그들이 정상적으로 작동하도록 display 속성값을 block 으로 한다 */
}

nav ul,li{
    list-style: none;
    /* 목록스타일 초기화 */
}

a{
    margin:0;
    padding: 0;
    font-size: 100%;
    text-decoration: n;
    vertical-align: baseline;
    color:#fff;
    background: transparent;
}

img{
    vertical-align: top;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{   /* 인풋태그 초기화 */
    margin:0;
    padding: 0;
    box-sizing: content-box; /* 박스사이징?? */
    vertical-align: top;
    appearance: none;  /* 어피어런스? */
    border: 1px solid #e65d5d;
    color:#e65d5d;
    border-radius: 0;
    font-family: 준비된 폰트들을 넣어준다 ;
}

input::moz-input-placeholder{
    color: #e65d5d;
}

input::webkit-input-placeholder{
    color: #e65d5d;
}


/* 웹폰트 CSS */
@font-face {
    font-family: 'ELAND_Nice_M';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Nice_M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}










